
@{
    ViewBag.Title = "Registro de Encuestas";
}

<h2>Registro de Encuestas</h2>

<div class="card mt-4">

    <div class="card-header">
        <i class="fas fa-list me-1"></i> Lista de encuestas 
    </div>

    <div class="card-body">
        <div class="row">
            <div class="col-12">
                <button type="button" class="btn btn-primary">Agregar Encuesta</button>
            </div>
        </div>

        <hr />

        <table id="tablaListaEncuestas" class="display cell-border" style="width: 100%">
            <thead>
                <tr>
                    <th># Posición</th>
                    <th>Nombre Lenguaje</th>
                    <th>Clasificación %</th>
                    <th>Diferencia %</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>

    </div>
</div>

@section scripts{
    <script>

        $(document).ready(function () {

            var tabladata;

            alert("Cargo ");

            tabladata = $("#tablaListaEncuestas").DataTable({
                responsive: true,
                ordering: false,
                "ajax": {
                    url: '@Url.Action("ListaLenguajes", "Home")',
                    type: "GET",
                    dataType: "json"
                },
                "columnDefs": [
                    { "targets": [0], data: "idLenguajeProgram" },
                    { "targets": [1], data: "nombreLenguajeProgram" },
                    { "targets": [2], data: "puntuacionLenguaje" },
                    { "targets": [3], data: "diferenciaPuntuacionLenguaje", "render": function (data) { return "+" + data + "%" } },
                ],
            });

            alert("Cargo 2");

        });

    </script>    
    }